---
import CarouselTech from "./CarouselTech.astro";
import yhanaPic from '/public/images/elYhana.png';
import crisPic from '/public/images/elCris.png';

const  profiles = [
    {
        devImg: yhanaPic,
        devName: 'Yhanahi Rosenthal',
        dev: 'Desarrollador',
        devDescription: 'Encargado de gestionar las operaciones de Nimion en la republica del Uruguay. Su dedicación y ética de trabajo inspiran a otros a superar barreras. Su destreza técnica es igualada por su colaboración sobresaliente en equipos multidisciplinarios, guiando a sus compañeros con pasión y conocimiento. Podría tranquilamente ser un Power Ranger o un Guadian de la Galaxia.'
    },
    {
        devImg: crisPic,
        devName: 'Cristian Lotorto',
        dev: 'Desarrollador',
        devDescription: 'Encargado de gestionar las operaciones de Nimion en la republica Argentina. Su dedicación y ética de trabajo inspiran a otros a superar barreras. Su destreza técnica es igualada por su colaboración sobresaliente en equipos multidisciplinarios, guiando a sus compañeros con pasión y conocimiento. Thor mismo temblaría si supiera que tiene que enfrentarse a él.'
    }
]
---

<section class='flex flex-col justify-center items-center pt-20 bg-primary-dark-background font-montserrat cursor-default'>
    <h3 class='text-4xl font-bold text-white' id="aboutUs">
        Las personas detrás de Nimion.
    </h3>
    <p class='w-128 my-10 text-center text-logo-gray leading-8'>
        Serán quienes estarán acompañándote durante y después de
        todo el proceso de desarrollo de tu proyecto.
    </p>
    <div class='flex justify-between items-center w-full px-20 py-10 bg-black-background/20'>
        { profiles.map((profile, index) => (
            <div class={`flex justify-center items-center w-1/2 ${index % 2 == 0 && 'border-r-2'}`}>
                <div class='flex justify-center items-center w-144'>
                    {index % 2 == 0 && <img class='w-36 h-36' src={profile.devImg} alt="porfile image">}
                    <div class='px-10'>
                        <h5 class='mb-1 font-semibold text-xl text-white'>{profile.devName}</h5>
                        <h6 class='mb-3 text-sm text-logo-gray underline'>{profile.dev}</h6>
                        <p class='pr-8 text-sm text-justify text-logo-gray'>{profile.devDescription}</p>
                    </div>
                    {index % 2 != 0 && <img class='w-36 h-36' src={profile.devImg} alt="porfile image">}
                </div>
            </div>
        )
        ) }
    </div>
    <div class='flex flex-col items-center w-full h-72 bg-primary-dark-intense/40 cursor-pointer'>
        <CarouselTech />
    </div>
</section>

<script src="../pages/smoth.js"></script>
